body{
    background-color: black;
}
#zilla{font-size: large;
    color:RGB(190, 0, 0);
    font-family: 'Comic Sans MS';}
#dino{font-size: large;
    color:RGB(190, 0, 0);
    font-family: 'Comic Sans MS';}
#goji{font-size: large;
    color:RGB(190, 0, 0);
    font-family: 'Comic Sans MS';}